#main {background: #eee}
#title {
    text-align: center;
}
#img-div {
  width: 900px;
  margin: 0px auto 50px auto; 
}
#tribute-info {
  text-align: left;
  max-width: 700px;
  margin: 0px auto 50px auto;
}
h5 {
  font-style: italic;
  margin: 50px;
}
li{
  margin: 16px;
}